.header {
  grid-area: header;
  background-color: #7098e0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    display: flex;
    align-items: center;
    &-item{
      width: 60px;
      height: 60px;
    }
    &-link {
      display: flex;
      width: 100%;
      height: 100%;
      svg {
        fill: #ffffff;
      }
    }
  }
  &__logout {
    padding-right: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    a {
      color: #ffffff;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }
  }

  h2 {
    color: #ffffff;
    font-family: inherit;
  }
}
