.nav {
  grid-area: nav;
  background-color: #7098e0;
  &__list {
    padding: 20px 15px;
    li {
      padding: 7px 0;
      a {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        &.active {
          color: #0F406A;
        }
      }
    }
  }
}
